<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.sk.spatch">

    <application
        android:name=".App"
        android:allowBackup="true"
        android:fullBackupContent="@xml/backup_descriptor"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:ignore="GoogleAppIndexingWarning"
        >
        <activity
            android:name=".act.XHome"
            android:exported="true"
            android:launchMode="singleInstance"
            />
        <activity android:name=".act.ExperimentV2Modify"
            android:exported="true"
            android:launchMode="singleInstance"
            />
        <activity
            android:name=".act.SuperSUDlg"
            android:theme="@style/Theme.AppCompat.Dialog"
            android:exported="true"
            android:launchMode="singleInstance"
            />
        <activity
            android:name=".act.SettingsAct"
            android:label="@string/title_activity_settings"
            android:launchMode="singleInstance"
            android:theme="@style/AppTheme.NoActionBar"
            android:exported="true" />
        <activity
            android:name=".act.SelectAppAct"
            android:label="@string/title_activity_select_app"
            android:launchMode="singleInstance"
            android:theme="@style/AppTheme.NoActionBar"
            android:exported="true" />
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:launchMode="singleInstance"
            android:exported="true" />
        <activity
            android:name=".act.SplashActivity"
            android:theme="@style/AppThemeEx"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.sk.spatch.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/pki" />
        </provider>
        <provider
            android:name=".core.provider.XProviderSPatch"
            android:authorities="sk.vpkg.provider.XProviderSPatch"
            android:exported="true"
            android:readPermission="sk.vpkg.provider.READ" /> <!-- va的x进程处理 -->
        <receiver
            android:name=".PackageReceiver"
            android:enabled="false">
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_ADDED" />
                <action android:name="android.intent.action.PACKAGE_REPLACED" />
                <action android:name="android.intent.action.PACKAGE_REMOVED" />

                <data android:scheme="package" />
            </intent-filter>
        </receiver>

        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />
    </application>
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" /> <!-- 通话记录 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" /> <!-- call phone -->
    <uses-permission android:name="com.sk.spatch.permission.SAFE_ACCESS" />
    <uses-permission android:name="android.permission.PROCESS_OUTGOING_CALLS" />
    <uses-permission android:name="android.permission.CALL_PHONE" /> <!-- sms -->
    <uses-permission android:name="android.permission.READ_CALL_LOG" />
    <uses-permission android:name="android.permission.WRITE_CALL_LOG" />
    <uses-permission android:name="android.permission.RECEIVE_MMS" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.RECEIVE_WAP_PUSH" />
    <uses-permission android:name="android.permission.SEND_SMS" /> <!-- google app start -->
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.WRITE_SMS" />
    <uses-permission android:name="com.google.android.googleapps.permission.GOOGLE_AUTH" />
    <uses-permission android:name="com.google.android.googleapps.permission.GOOGLE_AUTH.OTHER_SERVICES" />
    <uses-permission android:name="com.google.android.googleapps.permission.GOOGLE_AUTH.YouTubeUser" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission
        android:name="android.permission.INTERACT_ACROSS_USERS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

</manifest>